services:
    db:
        image: postgres:17.4
        env_file: task_monitoring/.env
        volumes:
            - db_volume:/var/lib/postgresql/data

    backend:
        build: ./task_monitoring
        environment:
            - DEBUG=False
        env_file: task_monitoring/.env
        volumes:
            - static_volume:/app/static
            - upload_volume:/app/uploaded
        depends_on:
            - db

    gateway:
        image: nginx:latest
        ports:
            - 8000:80
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
            - static_volume:/var/html/static/
        depends_on:
            - backend

volumes:
    db_volume:
    static_volume:
    upload_volume:
