services:
    db:
        image: postgres:17.4
        env_file: .env
        ports:
            - 5432:5432
        volumes:
            - db_volume:/var/lib/postgresql/data

    backend:
        image: registry.gitlab.com/freeman-83/task_monitoring_api
        environment:
            - DEBUG=False
        env_file: .env
        volumes:
            - static_volume:/app/collected_static
            - upload_volume:/app/uploaded
        depends_on:
            - db

    gateway:
        image: nginx:latest
        ports:
            - 9000:80
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
            - static_volume:/var/html/static/
        depends_on:
            - backend

volumes:
    db_volume:
    static_volume:
    upload_volume:
